.home-page {
  &__title {
    font-family: sans-serif;
    color: red;
  }

  &__products {
    display: flex;
    flex-direction: grid;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: inherit;
    }

  }
}