.home-page {
  &__title {
    font-family: sans-serif;
    color: red;
  }

  &__products {
    display: flex;
    flex-direction: grid;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: inherit;
    }

  }
}

@media (prefers-color-scheme: dark)
{
  .home-page.adaptive{
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategrey;
  }
}