@keyframes Not_Found {
    from {background-color: lightgreen; font-family: sans-serif}
    to {background-color: pink; font-family: arial;} 
  }

div {
    animation-duration: 5s;
    animation-name: Not_Found;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}